/* Variables */
:root {
	--card-box-shadow: 0px 8px 18px rgba(0,0,0,0.5), 0px 30px 58px rgba(0,0,0,0.5);
	--card-small-border-radius: 12px;
	--card-large-border-radius: 40px;
	--font-family-avenir: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-family-hoefler-italic: HoeflerText-Italic, 'Hoefler Text', Baskerville, serif;
	--font-family-bodoni-old-style: 'Bodoni 72 Oldstyle', 'Bodoni 72', Bodoni, 'Bodoni MT', serif;
	--font-family-bodoni-regular: 'Bodoni 72', Bodoni, 'Bodoni MT', serif;
	}
/* General Styles */
html {
	font: 14px/1.4 var(--font-family-avenir);
	font-weight: 400;
	color: #002162;
	}
body {
	width: 100%;
	height: 100%;
	background: #c3c2c8;
	}
	body > header {
		pointer-events: none; /* Pointer events will be handled by ::after */
		}
		body > header::after {
			position: absolute;
			bottom: 1.8em;
			left: 0;
			right: 0;
			content: "\a0";
			font-size: 120%;
			background: url(../img/scroll-arrow.svg) center no-repeat;
			opacity: 1;
			transition: opacity .5s ease 0s;
			pointer-events: auto;
			}
			body.scrolled header::after {
				opacity: 0;
				}
abbr {
	cursor: help;
	}
a.site-link:link,
a.site-link:visited {
	position: relative;
	display: block;
	min-width: 9em;
	padding: 1.4em 3em;
	font-weight: 600;
	font-size: 1.25rem;
	letter-spacing: .075em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #000000;
	transition: background-color .25s ease;
	}
	a.site-link::after {
		position: absolute;
		top: 8px;
		right: 9px;
		bottom: 8px;
		left: 9px;
		content: " ";
		border: 3px solid #2c353a;
		pointer-events: none;
		transition: border-color .25s ease;
		}
a.site-link:hover {
	background-color: #10171b;
	}
	a.site-link:hover::after {
		border-color: #667680;
		}
a.site-link:active {
	background-color: #000;
	}

/* Home Styles */

body#home > header {
	height: 100vh;
	background: url(../img/ocean.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	}
	body#home > header > h1 {
		position: relative;
		top: 10%;
		margin: 0 auto;
		width: 4.25em;
		font: bold 500%/1 Resonance, 'Helvetica Neue', sans-serif;
		text-transform: uppercase;
		/* Can't find this font to host, so replace with SVG: */
		text-indent: -5000em;
		background: url(../img/ryan-miglavs.svg) left top no-repeat;
		background-size: contain;
		}
		body#home > header > h1::after {
			display: block;
			margin: -.25em 0 0 0;
			height: 1em;
			background-image: linear-gradient(-180deg, #002162 0%, rgba(0,32,98,0.00) 100%);
			content: " ";
			}

ul#manifesto {
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	}
	ul#manifesto > li {
		display: block;
		position: relative;
		/*height: 110vh;*/
		min-height: 40em;
		margin: 0;
		padding: 0;
		text-align: center;
		overflow: hidden;
		}
		ul#manifesto > li > figure {
			max-height: 110vh;
			min-height: 60vh;
			background-color: rgba(0,0,0,0.1);
			overflow: hidden;
			}
			ul#manifesto > li > figure > img {
				position: relative;
				top: -17vh;
				margin: 0;
				vertical-align: baseline;
				}
		ul#manifesto > li > figcaption {
			min-height: 60vh;
			height: 110vh;
			padding: 30vh 3em 6em 3em;
			box-sizing: border-box;
			overflow: hidden;
			}
			ul#manifesto > li > figcaption > h2 {
				position: relative;
				margin: 0 auto 1.5em auto;
				padding-bottom: .4em;
				font-weight: 400;
				font-size: 250%;
				line-height: 1;
				text-transform: uppercase;
				white-space: nowrap;
				background: url(../img/line-decoration-blue.svg) center bottom no-repeat;
				}
			ul#manifesto > li > figcaption > p {
				max-width: 24em;
				margin: 0 auto 1.6em;
				}
			ul#manifesto > li > figcaption > h5,
			ol#design-stories > li > figure > figcaption > h5 {
				/* â§ */
				margin: 1.4em 0 0 0;
				font-size: 200%;
				text-align: center;
				}
		ul#manifesto > li#design {
			background: #A9B2BC;
			}
			ul#manifesto > li#design > figure {
				height: 80vh;
				}
				ul#manifesto > li#design > figure > img {
					top: 2%;
					max-width: 80%;
					}
		ul#manifesto > li#dream {
			background: #6D747D;
			color: #fff;
			}
			ul#manifesto > li#dream > figure {
				
				}
				ul#manifesto > li#dream > figure > img {
					top: -20vh;
					}
			ul#manifesto > li#dream > figcaption {
				
				}
				ul#manifesto > li#dream > figcaption > h2 {
					background-image: url(../img/line-decoration-white.svg);
					}
		ul#manifesto > li#adventure {
			background: #D8D8D8;
			}
			ul#manifesto > li#adventure > figure {
				
				}
				ul#manifesto > li#adventure > figure > img {
					right: 30%;
					}
		ul#manifesto > li#tell-stories {
			background: #242434;
			color: #fff;
			}
			ul#manifesto > li#tell-stories > figcaption > h2 {
				background-image: url(../img/line-decoration-white.svg);
				}
			ul#manifesto > li#tell-stories > figure {
				padding-top: 2em;
				padding-bottom: 1em;
				min-height: auto;
				background: #1b1b2c;
				}
		ul#manifesto > li#lead {
			background: #BFC3C6;
			}
			ul#manifesto > li#lead > figure {
				position: relative;
				height: 110vh;
				}
				ul#manifesto > li#lead > figure > img {
					position: absolute;
					right: -50%;
					height: 100%;
					}
		ul#manifesto > li#eat-and-drink {
			background: #333848;
			color: #fff;
			}
			ul#manifesto > li#eat-and-drink > figcaption > h2 {
				background-image: url(../img/line-decoration-white.svg);
				}
				ul#manifesto > li#eat-and-drink > figcaption > h2 > .amp {
					/* & */
					position: relative;
					top: -.2em;
					font: italic 24px var(--font-family-hoefler-italic);
					color: #fff;
					}
			ul#manifesto > li#eat-and-drink > figure {
				height: 110vh;
				}
				ul#manifesto > li#eat-and-drink > figure > img {
					left: -160px;
					min-height: 106%;
					}
body#home > footer {
	position: relative;
	}
	body#home > footer > img {
		display: block;
		width: 100%;
		}
	body#home > footer > h4 {
		position: absolute;
		top: 2em;
		right: 1em;
		margin: 0;
		max-width: 50%;
		font-style: italic;
		font-weight: 400;
		font-size: 100%;
		text-align: right;
		color: #fff;
		}
		body#home > footer > h4::after {
			content: "\a0\a0";
			}
	body#home > footer > h6#copyright {
		position: absolute;
		bottom: 1em;
		right: 1em;
		margin: 0;
		text-align: right;
		font-weight: 400;
		font-size: 100%;
		color: #fff;
		}

/* Portfolio Styles */

body#portfolio {
	color: #fff;
	}
	body#portfolio > header {
		position: relative;
		height: 100vh;
		background: #242534;
		overflow: hidden;
		}
		body#portfolio > header::after {
			bottom: 4.8em;
			background-image: url(../img/scroll-arrow-white.svg);
			}
		body#portfolio > header > h1 {
			position: absolute;
			top: 18%;
			left: calc(50% - 8.9em);
			width: 17.8em;
			font-weight: 300;
			font-size: 1.25rem;
			text-align: center;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			pointer-events: auto;
			}
			body#portfolio > header > h1 > span {
				position: absolute;
				top: -.75em;
				left: calc(50% - 6.5em);
				width: 13em;
				background: #242534;
				z-index: 10;
				}
			body#portfolio > header > h1 > strong {
				display: block;
				position: relative;
				margin: .15em 0 .1em -.075em;
				font-size: 6rem;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;
				z-index: 9;
				}
		body#portfolio > header > h3 {
			position: absolute;
			bottom: 14em;
			left: 0;
			right: 0;
			font-weight: 300;
			font-size: 1.25rem;
			text-align: center;
			pointer-events: auto;
			}
		body#portfolio > header > ul#clients {
			position: absolute;
			bottom: 10em;
			margin: 0;
			padding: 0;
			width: 100%;
			list-style: none;
			text-indent: 0;
			text-align: center;
			}
			body#portfolio > header > ul#clients > li {
				display: inline-block;
				margin: 0 2% .5em 2%;
				width: 24%;
				height: 6em;
				text-indent: -5000em;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				}
				body#portfolio > header > ul#clients > li#nike {
					background-image: url(../img/client-logos/nike-logo.svg);
					}
				body#portfolio > header > ul#clients > li#smithsonian {
					background-image: url(../img/client-logos/smithsonian-logo.svg);
					}
				body#portfolio > header > ul#clients > li#car-talk {
					background-image: url(../img/client-logos/car-talk-logo.svg);
					}
				body#portfolio > header > ul#clients > li#uo {
					display: none; /* Hide this on phone to save space. */
					background-image: url(../img/client-logos/uo-logo.svg);
					}
				body#portfolio > header > ul#clients > li#stand {
					display: none; /* Hide this on phone to save space. */
					background-image: url(../img/client-logos/stand-logo.png);
					}
	body#portfolio > section#subheader {
		position: relative;
		height: 30rem;
		margin: 0;
		background: url('../img/portfolio/portfolio-birds.jpg') center top no-repeat #d1d1d1;
		background-size: cover;
		color: #000;
		overflow: hidden;
		}
		body#portfolio > section#subheader > h1 {
			position: absolute;
			left: 10%;
			top: 11rem;
			width: 10em;
			margin: 0;
			font: bold 200%/1 Resonance, 'Helvetica Neue', sans-serif;
			text-transform: uppercase;
			/* Can't find this font to host, so replace with SVG: */
			text-indent: -5000em;
			background: url(../img/portfolio/ryan-miglavs-black.svg) left top no-repeat;
			background-size: contain;
			color: #000;
			}
		body#portfolio > section#subheader > h2 {
			position: absolute;
			left: 10%;
			top: 12.5rem;
			font-size: 1.25rem;
			font-weight: 400;
			}
body#portfolio > footer {
	position: relative;
	color: #000;
	}
	body#portfolio > footer > img {
		display: block;
		width: 100%;
		}
	body#portfolio > footer > #signing-off {
		position: absolute;
		top: 1em;
		left: 1em;
		}
		body#portfolio > footer > #signing-off > h5 {
			margin: 0;
			font: italic 400 1.4rem/1 var(--font-family-bodoni-old-style);
			}
		body#portfolio > footer > #signing-off a:link,
		body#portfolio > footer > #signing-off a:visited {
			color: #1c4466;
			text-decoration: none;
			border-bottom: 1px solid #000;
			transition: all .25s ease;
			}
		body#portfolio > footer > #signing-off a:hover {
			color: #00284a;
			}
		body#portfolio > footer > #signing-off a:active {
			color: #205e92;
			border-color: #205e92;
			}

ol#design-stories {
	margin: 0;
	padding: 0;
	list-style: none;
	text-indent: 0;
	}
	ol#design-stories > li {
		display: block;
		position: relative;
		margin: 0;
		padding: .5em 1em 4em 1em;
		/*overflow: hidden;*/
		}
		ol#design-stories > li > .title {
			position: relative;
			margin-bottom: 6em;
			padding-bottom: 5em;
			background: url(../img/line-decoration-white.svg) center bottom no-repeat;
			overflow: hidden;
			}
		ol#design-stories > li > .title > h1 {
			position: relative;
			margin: 0 0 .25em 0;
			padding-top: 2em;
			font: 400 4rem/.82 var(--font-family-bodoni-old-style);
			}
			ol#design-stories > li > .title > h1 > .number {
				position: absolute;
				top: 0;
				left: 0;
				margin-bottom: -.1em;
				font-family: var(--font-family-bodoni-regular);
				font-size: 205%;
				line-height: 1;
				}
			ol#design-stories > li > .title > h1 > .point {
				position: absolute;
				top: .1em;
				left: .475em;
				font-size: 205%;
				}
		ol#design-stories > li > .title > h2 {
			margin: 0;
			font-weight: 400;
			}
		ol#design-stories > li > section.project-intro {
			margin-bottom: 0;
			padding-bottom: 3.5em;
			font-weight: 500;
			font-size: 1.5rem;
			line-height: 1.333;
			/*background: url(../img/line-decoration-white.svg) center bottom no-repeat;*/
			}
			ol#design-stories > li > section.project-intro.not-yet-visible {
				
				}
				ol#design-stories > li > section.project-intro.not-yet-visible > * {
					opacity: 0;
					transform: translateY(100px);
					}
			ol#design-stories > li > section.project-intro > * {
				opacity: 1;
				transition: opacity 1s ease 0s, transform 1s ease 0s;
				}
				ol#design-stories > li > section.project-intro > * + * {
					transition-delay: .3s;
					}
					ol#design-stories > li > section.project-intro.not-yet-visible > * + * {
						transition: none;
						}
				ol#design-stories > li > section.project-intro > * + * + * {
					transition-delay: .45s;
					}
					ol#design-stories > li > section.project-intro.not-yet-visible > * + * + * {
						transition: none;
						}
				ol#design-stories > li > section.project-intro > * + * + * + * {
					transition-delay: .55s;
					}
					ol#design-stories > li > section.project-intro.not-yet-visible > * + * + * + * {
						transition: none;
						}
			ol#design-stories > li > section.project-intro > p {
				margin: 0 0 1.4em 0;
				}
			ol#design-stories > li > section.project-intro > ul {
				margin-bottom: 1.4em;
				list-style: disc;
				}
		ol#design-stories > li > a.view-samples:link,
		ol#design-stories > li > a.view-samples:visited {
			display: block;
			width: 8em;
			margin: 0 auto 1em auto;
			color: #fff;
			font-size: 2rem;
			text-decoration: none;
			text-align: center;
			background-position: center -.25em;
			transition: color .25s ease 0s, background-position .1s ease .2s;
			/*overflow: hidden;*/
			}
			ol#design-stories > li > a.view-samples:link::after {
				display: block;
				width: 38px;
				height: 38px;
				margin: .5em auto 0 auto;
				padding: 0;
				content: "";
				background: url(../img/portfolio/plus-circle.svg) center no-repeat;
				transition: transform .25s ease;
				}
		ol#design-stories > li > a.view-samples:hover {
			
			}
			ol#design-stories > li > a.view-samples:hover::after {
				transform: rotate(360deg);
				}
		ol#design-stories > li > a.view-samples:active {
			
			}
		ol#design-stories > li > figure {
			margin-bottom: 5em;
			padding-bottom: 3em;
			background: url(../img/line-decoration-white.svg) center bottom no-repeat;
			}
			/* Styles for JS-enabled reveal toggles */
			.js ol#design-stories > li > figure {
				height: 0;
				margin-bottom: 0;
				padding-bottom: 0;
				opacity: 0;
				transform: translateY(-100px);
				transition: all .5s ease 0, opacity 0;
				overflow: hidden;
				}
				.js ol#design-stories > li.expanded > figure {
					height: auto;
					margin-bottom: 5em;
					padding-bottom: 3em;
					opacity: 1;
					transform: translateY(0);
					overflow: visible;
					transition: all .5s ease 0;
					}
				.js ol#design-stories > li.expanded > a.view-samples {
					position: -webkit-sticky;
					position: sticky;
					top: -1.5em;
					color: transparent;
					background: url(../img/line-decoration-white.svg) center .65em no-repeat;
					z-index: 100;
					}
					.js ol#design-stories > li.expanded > a.view-samples:link::after {
						opacity: 1;
						transform: rotate(-45deg);
						}
					.js ol#design-stories > li.expanded > a.view-samples:hover::after {
						transform: rotate(-135deg);
						}
			ol#design-stories > li > figure > img {
				display: block;
				max-width: 100%;
				margin: 0 auto 8rem auto;
				border-radius: var(--card-small-border-radius);
				box-shadow: var(--card-box-shadow);
				}
				ol#design-stories > li > figure > img.phone {
					border-radius: var(--card-large-border-radius);
					}
			ol#design-stories > li > figure > figcaption,
			ol#design-stories > li > figure > aside {
				max-width: 33em;
				margin: 0 auto 6em auto;
				text-align: center;
				}
			ol#design-stories > li > figure > a.site-link {
				margin: 0 auto 3rem auto;
				}
		ol#design-stories > li#mazamas-story {
			background: #182C3C;
			}
			ol#design-stories > li#mazamas-story > .title > h1 > .number {
				left: -.1em;
				}
			ol#design-stories > li#mazamas-story > .title > h1 > .point {
				left: .35em;
				}
		ol#design-stories > li#news-app-story {
			background: #3D1218;
			}
		ol#design-stories > li#occ-story {
			background: #2C353A;
			}