/* Portfolio Styles */
body#portfolio {
	
	}
	body#portfolio > header {
		
		}
		body#portfolio > header > h3 {
			bottom: 12em;
			}
		body#portfolio > header > ul#clients {
			
			}
			body#portfolio > header > ul#clients > li {
				width: 9em;
				height: 6em;
				}