/* Variable overrides */
:root {
	--card-box-shadow: 0px 8px 28px rgba(0,0,0,0.5), 0px 50px 78px rgba(0,0,0,0.5);
	}

/* Home Styles */
body#home > header {
	
	}
	body#home > header > h1 {
		top: 20%;
		width: 5em;
		}
		body#home > header > h1::after {
			margin-top: -.15em;
			}

ul#manifesto {
	
	}
	ul#manifesto > li {
		height: 110vh;
		}
		ul#manifesto > li a.site-link {
			font-size: 1.25rem;
			}
		ul#manifesto > li > figure {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 50%;
			height: 100%;
			overflow: hidden;
			}
			ul#manifesto > li:nth-child(even) > figure {
				left: auto;
				right: 0;
				}
			ul#manifesto > li > figure > img {
				top: 0;
				min-width: 100%;
				min-height: 117%;
				}
		ul#manifesto > li > figcaption {
			position: absolute;
			left: auto;
			right: 0;
			top: 30%;
			width: 50%;
			padding: 2em 3em;
			}
			ul#manifesto > li:nth-child(even) > figcaption {
				left: 0;
				right: auto;
				}
		ul#manifesto > li#design > figure {
			padding-top: 30vh;
			height: 100%;
			}
			ul#manifesto > li#design > figure > img {
				top: 0;
				min-width: auto;
				min-height: auto;
				max-width: 80%;
				}
		ul#manifesto > li#dream > figure {
			
			}
			ul#manifesto li#dream > figure > img {
				top: -14vh;
				min-height: 116%;
				}
		ul#manifesto > li#adventure > figure {
			
			}
			ul#manifesto > li#adventure > figure > img {
				right: auto;
				}
		ul#manifesto > li#tell-stories > figure {
			padding-top: 32vh;
			}
			ul#manifesto > li#tell-stories > figure > iframe {
				width: 80%;
				}
		ul#manifesto > li#eat-and-drink > figure {
			
			}
			ul#manifesto > li#eat-and-drink > figure > img {
				top: 0;
				}
body#home > footer {
	
	}
	body#home > footer > h4 {
		top: 6em;
		right: 3em;
		font-size: 150%;
		}
	body#home > footer > h6#copyright {
		bottom: 3em;
		right: 4.5em;
		font-weight: 500;
		}

/* Portfolio Styles */
body#portfolio {
	
	}
	body#portfolio > header {
		min-height: 660px;
		}
		body#portfolio > header::after {
			bottom: 1.8em;
			}
		body#portfolio > header > h1 {
			top: 24%;
			left: calc(50% - 14.8em);
			width: 29.6em;
			}
			body#portfolio > header > h1 > strong {
				font-size: 10rem;
				}
			@media all and (max-height: 800px) {
				body#portfolio > header > h1 {
					top: 16%;
					}
				}
		body#portfolio > header > h3 {
			bottom: 10em;
			}
		body#portfolio > header > ul#clients {
			bottom: 6em;
			}
			body#portfolio > header > ul#clients > li {
				width: 10%;
				height: 5em;
				margin-left: 1.25em;
				margin-right: 1.25em;
				}
				body#portfolio > header > ul#clients > li#uo {
					display: inline-block;
					}
				body#portfolio > header > ul#clients > li#stand {
					display: inline-block;
					}
	body#portfolio > section#subheader {
		height: 28vw;
		}
		body#portfolio > section#subheader > h1 {
			top: 30%;
			left: 30%;
			}
		body#portfolio > section#subheader > h2 {
			left: 30%;
			top: calc(30% + 1.5rem);
			}
body#portfolio > footer {

	}
	body#portfolio > footer > #signing-off {
		top: 4em;
		left: 2em;
		}
		body#portfolio > footer > #signing-off > h5 {
			font-size: 3rem;
			}
ol#design-stories {
	
	}
	ol#design-stories > li {
		padding: 12em 2em 6em 2em;
		}
		ol#design-stories > li > .title,
		ol#design-stories > li > section.project-intro,
		ol#design-stories > li > figure {
			display: grid;
			max-width: 1440px;
			margin-left: auto;
			margin-right: auto;
			grid-template-columns: 10% 25% 15% 15% 25% 10%;
			}
		ol#design-stories > li > .title {
			
			}
			ol#design-stories > li > .title > h1 {
				grid-column: 2 / 6;
				}
			ol#design-stories > li > .title > h2 {
				grid-column: 2 / 6;
				}
		ol#design-stories > li > section.project-intro {
			font-size: 2.25rem;
			}
			ol#design-stories > li > section.project-intro > * {
				grid-column: 2 / 6;
				}
		ol#design-stories > li > figure {
			
			}
			ol#design-stories > li > figure > img {
				grid-column: 2 / 6;
				}
				ol#design-stories > li > figure > img.wide {
					grid-column: 1 / 7;
					}
				ol#design-stories > li > figure > .left {
					grid-column: 2 / 3;
					}
					ol#design-stories > li > figure > img.left + figcaption,
					ol#design-stories > li > figure > img.left + aside { 
						grid-column: 4 / 6;
						padding-top: 12em;
						}
				ol#design-stories > li > figure > .right {
					grid-column: 4 / 6;
					}
			ol#design-stories > li > figure > figcaption,
			ol#design-stories > li > figure > aside {
				grid-column: 3 / 5;
				}
		ol#design-stories > li#mazamas-story {
			
			}
			ol#design-stories > li#mazamas-story > figure#mazamas-community {
				
				}
				ol#design-stories > li#mazamas-story > figure#mazamas-community > figcaption {
					grid-row: 2;
					grid-column: 2 / 3;
					margin-top: 1em;
					}
			ol#design-stories > li#mazamas-story > figure#mazamas-site-link {
				display: block;
				}
				ol#design-stories > li#mazamas-story > figure#mazamas-site-link > a.site-link {
					width: 12em;
					}
		ol#design-stories > li#news-app-story {
			
			}
			ol#design-stories > li#news-app-story > figure {
				grid-template-columns: 10% 5% 12.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 12.5% 5% 10%;
				}
				ol#design-stories > li#news-app-story > figure > img {
					grid-column: 2 / 12;
					}
				ol#design-stories > li#news-app-story > figure > .left.two-up {
					grid-column: 3 / 6;
					}
					/*ol#design-stories > li#news-app-story > figure > aside.left.two-up {
						grid-column: 2 / 7;
						}*/
				ol#design-stories > li#news-app-story > figure > .right.two-up {
					grid-column: 8 / 11;
					}
					/*ol#design-stories > li#news-app-story > figure > aside.right.two-up {
						grid-column: 7 / 12;
						}*/
				ol#design-stories > li#news-app-story > figure > .left.three-up {
					grid-column: 1 / 4;
					}
				ol#design-stories > li#news-app-story > figure > .center.three-up {
					grid-column: 5 / 9;
					margin-top: 12em;
					}
				ol#design-stories > li#news-app-story > figure > .right.three-up {
					grid-column: 10 / 13;
					margin-top: 28em;
					}
				ol#design-stories > li#news-app-story > figure > img.wide {
					grid-column: 1 / 13;
					}
				ol#design-stories > li#news-app-story > figure > img#top-page {
					margin-top: -12em;
					}
				ol#design-stories > li#news-app-story > figure > aside#choose-title-color-etc {
					margin-top: -100em;
					}
				ol#design-stories > li#news-app-story > figure > img#world-page {
					margin-top: -80em;
					}
	ol#design-stories > li#occ-story {
		
		}
		ol#design-stories > li#occ-story > figure#key-tasks {
			
			}
			ol#design-stories > li#occ-story > figure#key-tasks > img {
				grid-column: 2 / 4;
				}
			ol#design-stories > li#occ-story > figure#key-tasks > figcaption {
				grid-column: 4 / 8;
				margin-top: 6em;
				}
		ol#design-stories > li#occ-story > figure#eat-now {
			
			}
			ol#design-stories > li#occ-story > figure#eat-now > img#eat-now-cta-img {
				grid-row: 1 / 2;
				}
			ol#design-stories > li#occ-story > figure#eat-now > img#eat-now-phone-img {
				grid-row: 1 / 4;
				}
			ol#design-stories > li#occ-story > figure#eat-now > img#eat-now-caption {
				grid-row: 1 / 2;
				}
		ol#design-stories > li#occ-story > figure#occ-site-link {
			display: block;
			}
			ol#design-stories > li#occ-story > figure#occ-site-link > a.site-link {
				width: 10em;
				}